# Pandas 2
- skaitymas iš .csv, excel, .txt
- itterrows
- darbas su labai dideliu duomenų rinkiniu

# Importuojam Pandas kaip pd

In [ ]:
import pandas as pd

# Nuskaitome duomenis iš failo

## CSV failas

In [58]:
#df=pd.read_csv("C:/Users/manta/Desktop/Python/datasets/StudentsPerformance.csv")
df=pd.read_csv("pokemon_data.csv")
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [59]:
df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

## Excel failas

In [61]:
df.to_excel('pokemon.xlsx')

## Tekstinis failas

## Ėjimas per kiekvieną eilutę

# Informacijos atnaujinimas / pakeitimas

In [62]:
df['Total']=df['HP']+df['Attack']+df['Defense']

In [65]:
df[df['Total']==df['Total'].max()]['Name'].values[0]

'AggronMega Aggron'

# Stulpelių suma

# Išsaugojimas / eksportavimas norimu formatu

# Darbas su labai dideliu duomenų rinkiniu

In [ ]:
for temp_df in pd.read_csv('pokemon_data.csv',chunksize=5):

# Užduotys

## Užduotis 1
https://www.kaggle.com/datasets/spscientist/students-performance-in-exams

- nuskaitykite failą StudentsPerformance.csv
- raskite vidutinį matematikos įvertinimą
- raskite bendrą kiekvieno studento visų  dalykų vidurkį. Išaugokite kaip atskirą stulpelį
- suskaičiuokite, kiek yra studentų, kurių vidurkis mažesnis nei 50. Atspausdinkite
- suskaičiuokite, kiek yra studentų, kurių vidurkis didesnis nei 90. Atspausdinkite

In [13]:
import pandas as pd

students=pd.read_csv("C:/Users/manta/Desktop/Python/datasets/StudentsPerformance.csv")
print(students.head())
average_math=students['math score'].mean()
print(average_math)

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75
66.089

In [17]:
students['average_score'] = students[['math score', 'reading score', 'writing score']].mean(axis=1) #axis = 0 stulpelius skaiciuoj, 1 eilutes
print(students["average_score"])

0      72.666667
1      82.333333
2      92.666667
3      49.333333
4      76.333333
         ...
995    94.000000
996    57.333333
997    65.000000
998    74.333333
999    83.000000
Name: average_score, Length: 1000, dtype: float64

In [20]:
students_below_50 = students[students['average_score'] < 50].shape[0]
print(students_below_50)

103

In [21]:
students_above_90 = students[students['average_score'] > 90].shape[0]
print(students_above_90)

50

## Užduotis 2
https://www.kaggle.com/datasets/spscientist/students-performance-in-exams

- nuskaitykite failą StudentsPerformance.csv
- filtruokite df, palikdami tik moterų duomenis
- išsaugokite duomenis į .csv failą

In [28]:
female_students = students[students['gender'] == 'female']
print(female_students)
female_students.to_csv('female_students.csv', index=False)

     gender race/ethnicity parental level of education         lunch  \
0    female        group B           bachelor's degree      standard
1    female        group C                some college      standard
2    female        group B             master's degree      standard
5    female        group B          associate's degree      standard
6    female        group B                some college      standard
..      ...            ...                         ...           ...
993  female        group D           bachelor's degree  free/reduced
995  female        group E             master's degree      standard
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score  \
0                      none          72             72             74
1                 completed          69             90             88
2                      none          90             95             93
5                      none          71             83             78
6                 completed          88             95             92
..                      ...         ...            ...            ...
993                    none          62             72             74
995               completed          88             99             95
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

     average_score
0        72.666667
1        82.333333
2        92.666667
5        77.333333
6        91.666667
..             ...
993      69.333333
995      94.000000
997      65.000000
998      74.333333
999      83.000000

[518 rows x 9 columns]

## Užduotis 3
https://www.kaggle.com/datasets/harrimansaragih/dummy-advertising-and-sales-data

 - raskite, kiek maximaliai buvo išleista TV reklamai
 - raskite kokius pardavimus sugeneravo pardavėjas, kuris iš visų išleido didžiausią sumą radijuje.

In [30]:
budget=pd.read_csv("C:/Users/manta/Desktop/Python/datasets/Dummy_Data_HSS.csv")
budget

        TV      Radio  Social Media Influencer       Sales
0     16.0   6.566231      2.907983       Mega   54.732757
1     13.0   9.237765      2.409567       Mega   46.677897
2     41.0  15.886446      2.913410       Mega  150.177829
3     83.0  30.020028      6.922304       Mega  298.246340
4     15.0   8.437408      1.405998      Micro   56.594181
...    ...        ...           ...        ...         ...
4567  26.0   4.472360      0.717090      Micro   94.685866
4568  71.0  20.610685      6.545573       Nano  249.101915
4569  44.0  19.800072      5.096192      Micro  163.631457
4570  71.0  17.534640      1.940873      Macro  253.610411
4571  42.0  15.966688      5.046548      Micro  148.202414

[4572 rows x 5 columns]

In [54]:
print(budget['TV'].max())

sales_by_influencer = budget.groupby('Influencer')['Sales'].sum()
print(sales_by_influencer)
print()
radio_spend_by_influencer = budget.groupby('Influencer')['Radio'].sum()
print(radio_spend_by_influencer)

100.0
Influencer
Macro    219282.846469
Mega     220326.277952
Micro    220964.077708
Nano     218229.303090
Name: Sales, dtype: float64

Influencer
Macro    20538.879787
Mega     20932.175594
Micro    20983.456725
Nano     20501.993612
Name: Radio, dtype: float64

In [ ]:

#budget_largest=budget[budget['sales'] == countries['population'].max()]
# print(df_largest)
# print()
# print(df_largest['country'])

# df_smallest=countries[countries['population'] == countries['population'].min()]
# print(df_smallest)

In [43]:
max_radio_spent = budget['Radio'].max()
print(max_radio_spent)

top_radio_seller = budget[budget['Radio'] == max_radio_spent]
print(top_radio_seller)

top_radio_seller_sales = top_radio_seller['Sales'].values[0]
print(top_radio_seller_sales)

48.87116125
        TV      Radio  Social Media Influencer       Sales
4331  99.0  48.871161      8.292208       Mega  349.156031
349.1560315