# Pandas 3

## Fill null values

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
darbtuotojai=pd.read_csv('employees.csv')
darbtuotojai.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          1000 non-null   int64
 1   first_name  1000 non-null   object
 2   last_name   1000 non-null   object
 3   phone       944 non-null    object
 4   email       944 non-null    object
 5   gender      1000 non-null   object
 6   birthdate   897 non-null    object
 7   country     1000 non-null   object
 8   city        1000 non-null   object
 9   company     969 non-null    object
 10  job_title   1000 non-null   object
 11  salary      1000 non-null   int64
dtypes: int64(2), object(10)
memory usage: 93.9+ KB

In [10]:
darbtuotojai=darbtuotojai.fillna(value={'email':'---------------','phone':'nenurodytas'})
darbtuotojai.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          1000 non-null   int64
 1   first_name  1000 non-null   object
 2   last_name   1000 non-null   object
 3   phone       1000 non-null   object
 4   email       1000 non-null   object
 5   gender      1000 non-null   object
 6   birthdate   897 non-null    object
 7   country     1000 non-null   object
 8   city        1000 non-null   object
 9   company     969 non-null    object
 10  job_title   1000 non-null   object
 11  salary      1000 non-null   int64
dtypes: int64(2), object(10)
memory usage: 93.9+ KB

In [11]:
darbtuotojai_rikiuoti=darbtuotojai.sort_values(by='salary', ascending=False)
darbtuotojai_rikiuoti

,id,first_name,last_name,phone,email,gender,birthdate,country,city,company,job_title,salary
988,989,Orion,Sanz,848-897-3263,osanzrg@mapy.cz,Male,1986-09-25,Nigeria,Aba,Voolia,VP Product Management,2998
696,697,Myrta,Devita,426-863-2659,mdevitajc@freewebs.com,Female,NaN,Haiti,Verrettes,Omba,Developer I,2989
358,359,Pearla,Binham,nenurodytas,---------------,Female,NaN,Brazil,Muzambinho,Divavu,Nurse Practicioner,2989
804,805,Ekaterina,Meach,788-934-7982,emeachmc@chronoengine.com,Female,2000-04-22,Serbia,Bašaid,Twitterworks,Developer III,2989
383,384,Emyle,Spennock,389-848-9304,espennockan@altervista.org,Female,1984-01-03,Vietnam,Ngoc Hon Doc,Skimia,Assistant Media Planner,2987
...,...,...,...,...,...,...,...,...,...,...,...,...
573,574,Giuseppe,Pountain,332-753-0199,gpountainfx@163.com,Male,1989-11-21,China,Wushan,Vimbo,Analyst Programmer,514
463,464,Anatol,MacGille,982-875-8698,amacgillecv@addthis.com,Male,1994-12-15,China,Yangmadao,Tagopia,Research Nurse,510
774,775,Delia,Twitchett,847-801-2792,dtwitchettli@army.mil,Female,2002-03-30,China,Alakak,Reallinks,Budget/Accounting Analyst II,508
608,609,Dyan,Bottomore,471-633-8429,dbottomoregw@mapy.cz,Female,2001-08-07,China,Doumen,Jamia,Web Developer I,507
6,7,Enid,Loadman,859-560-5933,eloadman6@statcounter.com,Female,NaN,Cameroon,Doumé,Thoughtstorm,Project Manager,505

# Top darbuotojai

In [ ]:
top10['full_name']

# Min darbuotojai

# Lytis

# Atlyginimai

# Užduotys

## Užduotis 1

- nuskaitykite failą pokemon_data.csv
- raskite maksimalias HP, Attack, Defense reikšmes. Atspausdinkite
- raskite kiek HP įrašų turi kiekvienas Generation

## Užduotis 2

-  parsisiųskite Jūsų pasirinktą duomenų rinkinį iš https://www.kaggle.com/datasets
-  susipažinkite  su duomenimis
-  atlikite Jūsų pasirinktus tris paskaičiavimus