# Įvedimas iš konsolės

Vienas iš būdų, kaip įvesti duomenis programai - paprašyti naudotojo, kad konsolėje suvestų reikalingą informaciją. Tam naudojama `input()` funkcija.

Kai prašymas įvesti informaciją išvedamas atskirai:

In [2]:
print('iveskite varda: ')
vardas=input()
print(vardas)

iveskite varda:
Testas

Kai prašymas įvesti informaciją išvedamas kartu:

In [4]:

vardas = input ('Iveskite varda: ')
print(vardas)

testas

Kokio tipo informaciją gauname iš input?

In [7]:
skaicius=input('iveskite skaiciu: ')
skaicius2=input('iveskite antra skaiciu: ')
print(skaicius + skaicius2)

skaicius = int(skaicius)
skaicius2 = int(skaicius2)
print(skaicius, type(skaicius))
print(skaicius2, type(skaicius2))
print(skaicius+skaicius2)

12
1 <class 'int'>
2 <class 'int'>
3

Gauname skaičių iš prieš tai įvykusios įvesties:

6

Skaičiaus įvestį galime įgyvendinti ir per vieną eilutę:

In [ ]:
skaicius=int(input('Iveskite skaiciu: '))
skaicius2=int(input('Iveskite antra skaiciu: '))

print(skaicius+skaicius2)

Kai norime gauti įvestą slankaus kablelio skaičių:

In [ ]:
skaicius=float(input('Iveskite skaiciu: '))
skaicius2=float(input('Iveskite antra skaiciu: '))

print(skaicius+skaicius2)

F-eilučių prisiminimui įvesime du skaičius atskirose eilutėse ir juos sudėsime:

In [15]:
skaicius=int(input('Iveskite skaiciu: '))
skaicius2=int(input('Iveskite antra skaiciu: '))

print(f'{skaicius} + {skaicius2} = {skaicius + skaicius2}')

1 + 2 = 3

4.333333333333334
5.0

Atkreipkite dėmesį į tai kad praeitame pavyzdyje gauta įvestis yra `str` tipo, todėl sudėtis (`+`) atliko teksto sudėtį, o ne matematinę sudėtį. Tai ištaisyti būtų galima taip:

Arba taip:

Šį kartą įvesime tuos du skaičius vienoje eilutėje:

In [13]:
sk1, sk2 = 5, 10
print(sk1)
print(sk2)

x,y = input('iveskite du skaicius, atskirdami juos tarpu ').split()
print(x,y)
print(int(x) + int(y))

5
10
5 10
15

In [14]:
a, b, c, d, e = input('inveskite penkis skaicius, juos atskirdami tarpu').split()
print(a+b+c+d+e)
print(int(a)+int(b)+int(c)+int(d)+int(e))

12345
15

In [ ]:
a,b,c,d,e = [int(skaicius) for skaicius in input('inveskite penkis skaicius, juos atskirdami tarpu').split()]

Galima ir taip:

Daugiau įvesties:

## Užduotys

### Užduotis 1

Paprašykite naudotojo įvesti savo vardą, amžių ir kodėl panoro išmokti Pitoną. Įvestą informaciją išveskite tvarkingai, vienu sakiniu ar atskirose eilutėse su prierašais.

In [1]:
# Kodą rašykite čia...

### Užduotis 2

Paprašykite vartotojo įvesti norimą simbolį. Iš šio simbolio atspausdinkite laiptus. Pvz.:

```
*
**
***
```

In [2]:
# Kodą rašykite čia...

### Užduotis 3

Paprašykite vartotojo įvesti norimą simbolį. Iš šio simbolio atspausdinkite inicialus. Pvz.:
```
*** *
 *  *
 *  ***
```

Užduočiai atlikti galite naudoti daugelio eilučių išvedimą.

In [3]:
# Kodą rašykite čia...

### Užduotis 4

Paprašykite vartotojo įvesti vardą, amžių, ūgį (metais) (nepamirškite ką reikia iškonvertuoti iš `str` į `int` ar `float`). Išveskite gautus duomenis ir jų tipus.

In [5]:
# Kodą rašykite čia...
vardas, amzius, ugis = input("iveskite varda amziu ir ugi atskiriant tarpu: ").split()
print(f"Vardas:  {vardas}")
print(f"amzius:  int{amzius}")
print(f"ugis:  float{ugis}")

Vardas:  Mantas
amzius:  int1
ugis:  float12

### Užduotis 5

Leiskite naudotojui įvesti metrus. Išveskite kiek tai gaunasi centimetrais, milimetrais ir kilometrais.

In [5]:
metrai=int(input())
milimetrai=metrai/100
kilometrai=metrai/1000

### Užduotis 6

Vienoje eilutėje įveskite vardą, pavardę ir amžių. Išveskite informaciją vienu sakiniu.

In [6]:
# Kodą rašykite čia...

### Užduotis 7

Paprašykite vartotojo įvesti 5-is savo pažymius vienoje eilutėje. Paskaičiuokite pažymių vidurkį. Išveskite atsakymą.

In [9]:
# Kodą rašykite čia...
#a,b,c,d,e = [int(skaicius) for skaicius in input('inveskite penkis skaicius, juos atskirdami tarpu').split()]
paz1, paz2, paz3, paz4, paz5 = [int(skaicius) for skaicius in input('inveskite penkis skaicius, juos atskirdami tarpu').split()]
print((paz1+paz2+paz3+paz4+paz5)/5)

3.0

### Užduotis 8

Leiskite vartotojui įvesti du skaičius. Išveskite šių skaičių sudėtį, skirtumą, sandaugą ir dalmenį.

In [7]:
# Kodą rašykite čia...
sk1, sk2 = input("ivesti 2 skaicius per tarpa").split()
sk1=int(sk1)
sk2=int(sk2)
print(sk1+sk2)
print(sk1-sk2)
print(sk1*sk2)
print(sk1/sk2)

3
-1
2
0.5

### Užduotis 9

Leiskite vartotojui įvesti du norimus skaičius. Išveskite kokia gaunasi liekana padalinus vieną skaičių iš kito.

In [10]:
# Kodą rašykite čia...
sk1, sk2 = input("ivesti 2 skaicius per tarpa").split()
sk1=int(sk1)
sk2=int(sk2)
print(sk1%sk2)

5

### Užduotis 10

Leiskite vartotojui įvesti du skaičius. Išveskite kiek gautųsi vieną skaičių pakėlus kito skaičiaus laipsniu (pvz, pirmas skaičius eina už pagrindą, o antras skaičius yra laipsnis, kuriuo ir keliame).

In [13]:
# Kodą rašykite čia...
sk1, sk2 = input("ivesti 2 skaicius per tarpa").split()
print(int(sk1)**int(sk2))

32