# Sąrašai (`lists`) (5 dalis)

## Sąrašo skaidymas ir apjungimas

Sąrašus galima sujungti į teksto eilutes ir teksto eilutes galima išskaidyti į sąrašus.

- Kai norime `list` -> `str`, tuomet naudojame `join` metodą.
- Kai norime `str` -> `list`, tuomet naudojame `split` metodą.

## `join`

`join` naudojame norėdami sąrašą sujungti į teksto eilutę.

Sintaksė:

```
'<skirtukas tarp kiekvieno elemento>'.join(<sarasas>)
```

## `split`

`split` naudojame norėdami teksto eilutę suskaidyti į sąrašą.

Sintaksė:

```
<teksto eilutė>.split(<skirtukas pagal ką skelti>)
```

## Pavyzdžiai

In [2]:
zmones = ['Petras', 10, False, None, ['testas']]
print(zmones[0])
print(zmones[-1])
print(len(zmones))

Petras
['testas']
5

In [6]:
sarasas=['Labas','mano','vardas','yra','Juozas']
sakinys= ' '.join(sarasas)
print(sakinys, type(sakinys))

Labas mano vardas yra Juozas <class 'str'>

In [9]:
sakinys=' '.join(['Labas','mano','vardas','yra','Juozas'])
print(sakinys)

Labas mano vardas yra Juozas

In [12]:
miestai= ['Kaunas', 'Vilnius','Klaipeda','Jonava']
print(''.join(miestai))
print(' '.join(miestai))

KaunasVilniusKlaipedaJonava
Kaunas Vilnius Klaipeda Jonava

In [13]:
skaiciai=[5,10,12123,232,34345]
print(','.join(skaiciai))

TypeError: sequence item 0: expected str instance, int found

In [19]:
skaiciai=[5,10,12123,232,34345]
skaiciai_tekste=','.join(map(str, skaiciai))
print(skaiciai_tekste, type(skaiciai_tekste))
print(map(str, skaiciai))
print(list(map(str, skaiciai)))

5,10,12123,232,34345 <class 'str'>
<map object at 0x00000289A056E0E0>
['5', '10', '12123', '232', '34345']

In [21]:
skaiciai=[5,10,12123,232,34345]
skaiciai_tekste=','.join([str(skaicius) for skaicius in skaiciai])
print(skaiciai_tekste)

5,10,12123,232,34345

## Užduotys

### Užduotis 1

Susikurkite žodžių sąrašą su duomenimis. Išveskite šį sąrašą šiais pavidalais:

- Kiekvieną žodį atskirant kableliu ir tarpu: `pirmas, antras, trečias, ...`
- Kiekvieną žodį atskiriant vertikaliu brūkšneliu: `pirmas|antras|trečias|...`
- Kiekvieną žodį atskiriant tarpu: `pirmas antras trečias ...`

In [25]:
# Kodą rašykite čia...

zodziai =['pirmas', 'antras','trecias']
print(', '.join(zodziai))
print('|'.join(zodziai))
print(' '.join(zodziai))

pirmas, antras, trecias
pirmas|antras|trecias
pirmas antras trecias

### Užduotis 2

Susikurkite pažymių sąrašą ir užpildykite jį pažymiais. Surikiuokite sąrašą nuo didžiausio iki mažiausio pažymio ir išveskite taip, kad kiekvienas pažymys būtų atskirtas kableliu ir tarpu (`9, 8, 6, ...`).

In [34]:
# Kodą rašykite čia...
pazymiai = [9, 8, 6, 7, 10, 5, 8, 9, 8, 7]
pazymiai.sort(reverse=True)
print(', '.join(map(str, pazymiai)))

10, 9, 9, 8, 8, 8, 7, 7, 6, 5

### Užduotis 3

Susikurkite sąrašą prekių pavadinimams saugoti (prekių krepšeliui). Įveskite į šį sąrašą norimą informaciją. Išveskite šį sąrašą taip, kad tarp kiekvienos prekės būtų parašytas toks skirtukas: ` ||| `. Turėtų vaizde gautis taip: `prekė 1 ||| prekė 2 ||| prekė 3`.

In [37]:
# Kodą rašykite čia...

prekiu_sarasas = ["prekė 1", "prekė 2", "prekė 3", "prekė 4", "prekė 5"]
print(' ||| '.join(prekiu_sarasas))

prekė 1 ||| prekė 2 ||| prekė 3 ||| prekė 4 ||| prekė 5

### Užduotis 4

Susikurkite sąrašą su datomis. Šias datas paverskite į tekstos eilutes tokiais pavidalais:

- `data1 / data2 / data3 / ...`
- `data1|data2|data3|...`
- `data1__data2__data3__...`
- `data1-data2-data3-...`

In [38]:
# Kodą rašykite čia...

datos = ["2024-02-25", "2024-02-26", "2024-02-27", "2024-02-28"]
print(' / '.join(datos))
print('|'.join(datos))
print('_'.join(datos))
print('-'.join(datos))

2024-02-25 / 2024-02-26 / 2024-02-27 / 2024-02-28
2024-02-25|2024-02-26|2024-02-27|2024-02-28
2024-02-25_2024-02-26_2024-02-27_2024-02-28
2024-02-25-2024-02-26-2024-02-27-2024-02-28

### Užduotis 5

Susikurkite teksto eilutę, kurioje būtų saugoma studentų informacija (vardai su pavardėmis), o teksto eilutę suformatuokite kiekvieną studentą atskiriant kableliu ir tarpu: `studentas1, studentas2, studentas3, ...`.

Išskaidykite šią teksto eilutę taip, kad visus studentus turėtumėte sąraše kaip atskirus elementus.

In [5]:
# Kodą rašykite čia...

studentu_info = "Jonas Jonaitis, Petras Petraitis, Ona Onaitė, Marija Marijaitė"

### Užduotis 6

Susikurkite teksto eilutę, kur būtų saugomos datos su laikais, o jos būtų atskirtos vertikaliu brūkšneliu: `data su laiku|data su laiku|data su laiku|...`.

Išskaidykite šią teksto eilutę taip, kad visas datas turėtumėte sąraše kaip atskirus elementus.

In [39]:
# Kodą rašykite čia...

datos_su_laikais = "2024-02-25 10:30:00|2024-02-26 12:45:00|2024-02-27 14:15:00|2024-02-28 09:00:00"

print(datos_su_laikais.split('|'))

['2024-02-25 10:30:00', '2024-02-26 12:45:00', '2024-02-27 14:15:00', '2024-02-28 09:00:00']

### Užduotis 7

Susikurkite tokią teksto eilutę: `Jonas;Jonauskas;21;KTU;8`. Ją paverskite į sąrašą, skaidymui naudojant skirtuką `;`.

In [7]:
# Kodą rašykite čia...

teksto_eilute = "Jonas;Jonauskas;21;KTU;8"

### Užduotis 8

Susikurkite teksto eilutę, kurioje būtų saugoma savaitės temperatūrų informacija, pvz: `17.5;20.6;21.7;22.9;...`. Šią eilutę paverskite į sąrašą, skaidymui naudojant simbolį `;`, taip pat, sąraše kiekviena temperatūra turėtų būti išsaugota kaip float, o ne tekstu.

In [8]:
# Kodą rašykite čia...

temperaturu_info = "17.5;20.6;21.7;22.9;"