# Žodynai (`dictionaries`) (1 dalis)

In [1]:
marke='vw'
modelis='golf'
metai=2015
rida=278943

print(marke, modelis, metai, rida)

vw golf 2015 278943

In [ ]:
automobilis=['vw','golf',2015,278943]
print(automobilis)

In [3]:
automobilis={
    'marke':'Vw',
    'modelis':'golf',
    'metai':2015,
    'rida':278943
}

print(automobilis)

automobilis2={
    'marke':'ford',
    'modelis':'transit',
    'metai':2019,
    'rida':350000
}

{'marke': 'Vw', 'modelis': 'golf', 'metai': 2015, 'rida': 278943}

In [6]:
automobilis={
    'marke':'Vw',
    'modelis':'golf',
    'metai':2015,
    'rida':278943
}

print(automobilis['marke'])
print(automobilis['modelis'])
print(automobilis['metai'])
print(automobilis['rida'])

Vw
golf
2015
278943

In [7]:
zmogus={}
print(type(zmogus), zmogus)

<class 'dict'> {}

In [11]:

automobilis=dict(marke='vw',modelis='golf',metai=2015,rida=278943)
print(type(automobilis), automobilis)
print(automobilis['marke'])

<class 'dict'> {'marke': 'vw', 'modelis': 'golf', 'metai': 2015, 'rida': 278943}
vw

In [18]:

print(automobilis)
automobilis['darbinis turis']=2.0
automobilis['rida']=automobilis['rida']+500
print(automobilis)
automobilis['darbinis turis']=1.6
print(automobilis)

{'marke': 'vw', 'modelis': 'golf', 'metai': 2015, 'rida': 281443, 'darbinis turis': 1.6}
{'marke': 'vw', 'modelis': 'golf', 'metai': 2015, 'rida': 281943, 'darbinis turis': 2.0}
{'marke': 'vw', 'modelis': 'golf', 'metai': 2015, 'rida': 281943, 'darbinis turis': 1.6}

In [21]:
#print(automobilis['spalva'])

automobilis2['spalva']='juoda'
print(automobilis.get('spalva','spalva neapibrezta'))
print(automobilis2.get('spalva','spalva neapibrezta'))

spalva neapibrezta
juoda

## Užduotys

### Užduotis 1

Sukurkite dictionary studento duomenims saugoti.<br>
Į šį dictionary sudėkite tokias savybes su reikšmėmis: vardas, pavardė, amžius, studijų programa, atsiskaitytų kreditų skaičius, pažymiai, ūgis, kelintame kurse mokosi, kurioje mokykloje mokosi.<br>
Išveskite šią informaciją per vieną `print()`.<br>
Taip pat, pamėginkite išvesti atskirose eilutėse tris skirtingas pasirinktas savybes.

In [23]:
studentas={
    'vardas':'Antanas',
    'pavarde':'kazlauskas',
    'ugis':2.15,
    'metai':25,
    'studiju_programa':'dusmanas',
    'atsiskaityu_kreditu_skaicius':90,
    'pazymiai':[5,6,7,4,10]
}

print(studentas)
print(studentas['pavarde'])
print(studentas['pazymiai'])
print(studentas['vardas'])

{'vardas': 'Antanas', 'pavarde': 'kazlauskas', 'ugis': 2.15, 'metai': 25, 'studiju_programa': 'dusmanas', 'atsiskaityu_kreditu_skaicius': 90, 'pazymiai': [5, 6, 7, 4, 10]}
kazlauskas
[5, 6, 7, 4, 10]
Antanas

### Užduotis 2

Sukurkite dictionary informacijai apie filmą saugoti.<br>
Į šį dictionary sudėkite tokias savybes su reikšmėmis: pavadinimas, režisierius, biudžetas, kiek uždirbo pinigų po išleidimo, žanras, trukmė, išleidimo metai, aktorių sąrašas (sąrašas su jų vardais ir pavardėmis).<br>
Išveskite šio dictionary informaciją.<br>
Paskaičiuokite ir išveskite šio filmo pelną (uždarbis - biudžetas).<br>
Išveskite kiek filme dalyvavo aktorių (jų kiekis).

In [28]:
filmas={
    'pavadinimas':'srekas',
    'rezisierius':'Petras',
    'biudzetas':100000,
    'kiek_uzdirbo_pinigu_po_isleidimo':15000000,
    'zanras':'animacinis',
    'truko':160,
    'aktoriai':['zenius','kazys','antoske']
}

print(filmas)
print(filmas['kiek_uzdirbo_pinigu_po_isleidimo']-filmas['biudzetas'])
print(len(filmas['aktoriai']))

{'pavadinimas': 'srekas', 'rezisierius': 'Petras', 'biudzetas': 100000, 'kiek_uzdirbo_pinigu_po_isleidimo': 15000000, 'zanras': 'animacinis', 'truko': 160, 'aktoriai': ['zenius', 'kazys', 'antoske']}
14900000
3

### Užduotis 3

Sukurkite dictionary automobilio duomenims saugoti.<br>
Į šį dictionary savybes su reikšmėmis sukelkite, po to kai sukursite tuščią dictionary.<br>
Sudėkite šias savybes su reikšmėmis: markė, modelis, rida, gamybos metai, spalva, darbinis tūris, ar daužta, ar parduodama.<br>
Išveskite visą automobilio informaciją.<br>
Paskaičiuokite ir išveskite kiek vidutiniškai per metus yra nuvažiavęs automobilis (jeigu viso nuvažiavo 300 kilometrų, o automobiliui yra 2 metai, tai per metus vidutiniškai gaunasi 150 km.).

In [32]:
auto_duomenis={}
auto_duomenis['marke']='vw'
auto_duomenis['modelis']='golf'
auto_duomenis['rida']=250000
auto_duomenis['metai']=2023
auto_duomenis['darbinis_turis']=1.6
auto_duomenis['dauzta']=True
auto_duomenis['ar_parduodama']=True

print(auto_duomenis)

print(auto_duomenis['rida']/(2025 - auto_duomenis['metai']))

125000.0
{'marke': 'vw', 'modelis': 'golf', 'rida': 250000, 'metai': 2023, 'darbinis_turis': 1.6, 'dauzta': True, 'ar_parduodama': True}