# Žodynai (`dictionaries`) (2 dalis)

- pridėjimas į sąrašus
- iteravimas

## Pavyzdžiai

In [4]:
knygos=[{'pavadinimas':'apie miska','kaina':14.99,'autorius':'kazys bryantas'},
        {'pavadinimas':'apie sporta','kaina':11.99,'autorius':'klebonas bronius'},
        {'pavadinimas':'apie statybas','kaina':21.99,'autorius':'statys stasys'}
]

for knyga in knygos:
    print(f'knygos pavadinimas yra {knyga['pavadinimas']}, jos kaina yra {knyga['kaina']}, o autorius yra {knyga['autorius']}')
    #print(knyga)

knygos pavadinimas yra apie miska, jos kaina yra 14.99, o autorius yra kazys bryantas
knygos pavadinimas yra apie sporta, jos kaina yra 11.99, o autorius yra klebonas bronius
knygos pavadinimas yra apie statybas, jos kaina yra 21.99, o autorius yra statys stasys

In [5]:
knygos=[{'pavadinimas':'apie miska','kaina':14.99,'autorius':'kazys bryantas'},
        {'pavadinimas':'apie sporta','kaina':11.99,'autorius':'klebonas bronius'},
        {'pavadinimas':'apie statybas','kaina':21.99,'autorius':'statys stasys'}
]
print(knygos[1]['kaina'])

knygu_suma=0

for knyga in knygos:
    knygu_suma+=knyga['kaina']

print(knygu_suma)

11.99
48.97

In [13]:
studentai=[
    {'vardas':'Kazys', 'pavarde':'grinius','pazymiai':[8,3,5,6,7,8,9,8]},
     {'vardas':'petras', 'pavarde':'petraitis','pazymiai':[8,3,2,5,1,2,9,8]}
]

for studentas in studentai:
    print(f'studentas {studentas['vardas']} {studentas['pavarde']} pazymiu vidurkis: ', end=' ')
    vidurkis=sum(studentas['pazymiai'])/len(studentas['pazymiai'])
    print(vidurkis)

studentas Kazys grinius pazymiu vidurkis:  6.75
studentas petras petraitis pazymiu vidurkis:  4.75

In [ ]:
studentai = [
    {'vardas': 'Kazys', 'pavarde': 'Grinius', 'pazymiai': [8,9,10,6,7,10,10]},
    {'vardas': 'Antanas', 'pavarde': 'Smetona', 'pazymiai': [5,10,4,3,2,10,10]},
]

didz_vidurkis = 0
didz_vidurki_studentas = studentai[0]

for studentas in studentai:
    vidurkis = sum(studentas['pazymiai'])/len(studentas['pazymiai'])
    if vidurkis > didz_vidurkis:
        didz_vidurkis = vidurkis
        didz_vidurki_studentas = studentas

print(f'Didziausia vidurki turi studentas {didz_vidurki_studentas['vardas']} {didz_vidurki_studentas['pavarde']}, jo vidurkis yra {round(didz_vidurkis,1)}')

## Užduotys

### Užduotis 1

Susikurkite sąrašą, kuriame būtų saugomos skirtingos knygos (kaip dictionary elementai).<br>
Apie kiekvieną knygą į atskirus knygų dictionary sudėkite norimą informaciją (bent 3 savybes).<br>
Į list įdėkite bent 2 knygas.<br>
Visas šias knygas išsiveskite.<br>
Tuomet parodykite pirmą knygą, bei antros knygos kažkurią savybę.

In [14]:
knygos = [
    {'pavadinimas': 'apie miska', 'kaina': 14.99, 'autorius':'Jonas Jonaitis'},
    {'pavadinimas': 'apie sporta', 'kaina': 19.99, 'autorius':'Petras Petraitis'}
]

print(knygos)
print(f'pirma knyga parase {knygos[0]['autorius']}, antra knyga parase {knygos[1]['autorius']}')

[{'pavadinimas': 'apie miska', 'kaina': 14.99, 'autorius': 'Jonas Jonaitis'}, {'pavadinimas': 'apie sporta', 'kaina': 19.99, 'autorius': 'Petras Petraitis'}]
pirma knyga parase Jonas Jonaitis, antra knyga parase Petras Petraitis

### Užduotis 2

Susikurkite sąrašą, kuriame būtų keletas prekių (kaip dictionary elementai) ir jį užpildykite pasirinktais duomenimis.<br>
Išveskite visų prekių pavadinimus su kainomis ir dar kokiais nors atributais atskirose eilutėse.

In [15]:
knygos = [
    {'pavadinimas': 'apie miska', 'kaina': 14.99, 'isleidimo_metai':1999},
    {'pavadinimas': 'apie sporta', 'kaina': 19.99, 'isleidimo_metai':2015}
]

for knyga in knygos:
    print(f'Pavadinimas: {knyga['pavadinimas']}')
    print(f'Kaina: {knyga['kaina']} EUR')
    print(f'Isleidimo data: {knyga['isleidimo_metai']} m.')

Pavadinimas: apie miska
Kaina: 14.99 EUR
Isleidimo data: 1999 m.
Pavadinimas: apie sporta
Kaina: 19.99 EUR
Isleidimo data: 2015 m.

### Užduotis 3

Susikurkite sąrašą, kuriame būtų saugoma informacija apie keletą automobilių (kaip dictionary elementai) ir užpildykite jį pasirinktais duomenimis.<br>
Išveskite kiekvieno automobilio pavadinimą, metus ir paskaičiuotą jo amžių (dabartiniai metai - gamybos metai).

In [16]:
import datetime
automobilis = [
    {'marke':'Audi','modelis':'RS6','metai':2015,'rida': 50000},
    {'marke':'Ford','modelis':'Mustang', 'metai':2019, 'rida':35000}
]

data_ir_laikas_dabar = datetime.datetime.now() 


for auto in automobilis:
    print(f'Pavadinimas: {auto['marke']}')
    print(f'Metai: {auto['metai']}')

    print('Automobilio amzius', int(data_ir_laikas_dabar.strftime('%Y')) - auto['metai'])

Pavadinimas: Audi
Metai: 2015
Automobilio amzius 10
Pavadinimas: Ford
Metai: 2019
Automobilio amzius 6