# Sets

In [2]:
sarasas=[1,2,3]
setas={1,2,3}

print(sarasas)
print(setas)

[1, 2, 3]
{1, 2, 3}

In [4]:
setas={1,1,2,2,2,2,2,}
print(setas)

{1, 2}

## Pavyzdžiai

In [5]:

tuscias_set=set()
kuriame_taip={}

print(type(tuscias_set))
print(type(kuriame_taip))

<class 'set'>
<class 'dict'>

In [1]:
# kai turime reikšmes, galime kurti taip:

In [6]:
# galime paversti sąrašą į set'a

skaiciai=[1,2,3,4,5,5,5,6,7,7,7]
rinkinys=set(skaiciai)

print(rinkinys)
skaiciai=list(rinkinys)

{1, 2, 3, 4, 5, 6, 7}

In [7]:
# set talpina tik unikalius elementus
unikalus_miestai={'Vilnius','Kaunas','Vilnius','Klaipeda'}
print(unikalus_miestai)

{'Vilnius', 'Kaunas', 'Klaipeda'}

In [8]:
# priminimas, negalime naudoti indekso kaip liste
unikalus_miestai[0]

TypeError: 'set' object is not subscriptable

In [9]:
# galime talpinti įvairių tipų duomenis

ivairi_info={5, 'pavizdys', None, '5'}
print(ivairi_info)

{None, '5', 5, 'pavizdys'}

In [6]:
# galime iteruoti

In [7]:
# setas talpina tik unikalius duomenis

In [8]:
# iš list konvertuojame į set, kad gauti unikalius duomenis ir atgal

In [10]:
# galime naudoti len funkciją
len(unikalus_miestai)

3

In [12]:
# galime pridėti elementus į set
s = set([1,2,3])
print(s)
s.add(4)
print(s)
s.add(10)
print(s)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 10}

In [13]:
s.discard(2)
print(s)

{1, 3, 4, 10}

In [14]:
s.clear()
print(s)

set()

## set union and intersection

- galime rasti visus unikalius elementus iš kelių set'ų
- galime rasti tik tuos unikalius elementus, kurie yra abiejuose set'uose

In [16]:
matematikos_studentai={'Ona','Petras','Giedrius','Gintare'}
biolofijos_studentai={'Petras','Jonas','Gintare','Greta'}

visi_unikalus=matematikos_studentai | biolofijos_studentai
print(visi_unikalus)
pasikartoja_abiejuose=matematikos_studentai & biolofijos_studentai
print(pasikartoja_abiejuose)

{'Petras', 'Jonas', 'Giedrius', 'Greta', 'Ona', 'Gintare'}
{'Petras', 'Gintare'}

In [11]:
# set intersection
# galima elementus, kurie yra ir pirmam ir antram set'e
matematikos_studentai.intersection()

## Užduotys

### Užduotis 1

Įsivaizduokite, kad sukūrėte balsavimo formą, kurioje žmogus galėjo rinktis vieną iš kelių galimų variantų ir turite sąraše visus tuos balsavimo duomenis (pvz: balsavimui panaudotas klausimas `"labiausiai patinkanti kalba:"`, o atsakymai `['c++', 'python', 'python', 'javascript', 'python', 'c#', 'javascript']`).<br>
Atrinkite visus skirtingus atsakymų variantus į atskirą sąrašą (būtų `['c++', 'python', 'javascript', 'c#']`).

In [17]:
atsakymai = {'c++', 'python', 'python', 'javascript', 'python', 'c#', 'javascript'}
print(atsakymai)

{'javascript', 'c#', 'python', 'c++'}

### Užduotis 2

Sukurkite du sąrašus su bet kokiais skaičiais<br>
raskite tik tuos sąrašo elementus, kurie yra abiejuose sąrašuose<br>
raskite unikalius sąrašo elementus iš abiejų sąrašų<br>
atspausdinkite

In [18]:
sk1={1,2,3,4,5,6,55,32,2,6,7,27,4,1}
sk2={1,2,3,5,216,3,6,64,57,7,47}

visi_unikalus=sk1 | sk2
print(visi_unikalus)
pasikartoja_abiejuose=sk1 & sk2
print(pasikartoja_abiejuose)

{64, 1, 2, 3, 4, 5, 6, 7, 216, 27, 32, 47, 55, 57}
{1, 2, 3, 5, 6, 7}