## Užduotis 1

Sukurkite prekių db<br>
lentelės struktrūra yra tokia - prekės pavadinimas, turimas kiekis, kaina, savikaina<br>
Išveskite visas prekes iš db<br>
atspausdinkite visas išvestas prekes su f string'u

In [ ]:
import sqlite3

# Sukuriame duomenų bazės failą atmintyje
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Sukuriame lentelę
cursor.execute('''
    CREATE TABLE prekes (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        pavadinimas TEXT NOT NULL,
        kiekis INTEGER NOT NULL,
        kaina REAL NOT NULL,
        savikaina REAL NOT NULL
    )
''')

# Įdedame keletą prekių į duomenų bazę
prekes_data = [
    ("Kompiuteris", 10, 800.0, 600.0),
    ("Telefonas", 15, 500.0, 350.0),
    ("Planšetė", 8, 300.0, 200.0),
    ("Monitorius", 12, 150.0, 100.0),
    ("Klaviatūra", 20, 50.0, 30.0)
]

cursor.executemany("INSERT INTO prekes (pavadinimas, kiekis, kaina, savikaina) VALUES (?, ?, ?, ?)", prekes_data)
conn.commit()

# Išrenkame visas prekes
cursor.execute("SELECT * FROM prekes")
prekes = cursor.fetchall()

# Atspausdiname prekes naudojant f-string
for preke in prekes:
    print(f"ID: {preke[0]}, Pavadinimas: {preke[1]}, Kiekis: {preke[2]}, Kaina: {preke[3]}€, Savikaina: {preke[4]}€")

# Uždaryti prisijungimą prie DB
conn.close()

ID: 1, Pavadinimas: Kompiuteris, Kiekis: 10, Kaina: 800.0€, Savikaina: 600.0€
ID: 2, Pavadinimas: Telefonas, Kiekis: 15, Kaina: 500.0€, Savikaina: 350.0€
ID: 3, Pavadinimas: Planšetė, Kiekis: 8, Kaina: 300.0€, Savikaina: 200.0€
ID: 4, Pavadinimas: Monitorius, Kiekis: 12, Kaina: 150.0€, Savikaina: 100.0€
ID: 5, Pavadinimas: Klaviatūra, Kiekis: 20, Kaina: 50.0€, Savikaina: 30.0€

## Užduotis 2

Sukurkite studentų db<br>
lentelės struktūra yra tokia - vardas, pavardė, universiteto pavadinimas, pažymių vidurkis<br>
Išveskite visus studentus, atspausdinkite studentus su f stringu<br>
raskite studentus, kurių vidurkis didesnis už 5<br>
raskite studentus, kurių vidurkis mažesnis už 5

In [21]:
# Pakartotinai sukuriame duomenų bazę ir atliekame veiksmus
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Sukuriame studentų lentelę
cursor.execute('''
    CREATE TABLE studentai (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        vardas TEXT NOT NULL,
        pavarde TEXT NOT NULL,
        universitetas TEXT NOT NULL,
        vidurkis REAL NOT NULL
    )
''')

# Įdedame keletą studentų į duomenų bazę
studentai_data = [
    ("Jonas", "Kazlauskas", "VU", 6.7),
    ("Eglė", "Petrauskaitė", "KTU", 8.2),
    ("Mantas", "Jankauskas", "VDU", 4.9),
    ("Aistė", "Žukauskaitė", "ISM", 9.1),
    ("Dovydas", "Butkus", "VU", 5.3)
]

cursor.executemany("INSERT INTO studentai (vardas, pavarde, universitetas, vidurkis) VALUES (?, ?, ?, ?)", studentai_data)
conn.commit()

# Išrenkame visus studentus
cursor.execute("SELECT * FROM studentai")
studentai = cursor.fetchall()

# Atspausdiname visus studentus naudojant f-string ir for in
print("Visi studentai:")
for studentas in studentai:
    print(f"ID: {studentas[0]}, Vardas: {studentas[1]}, Pavardė: {studentas[2]}, Universitetas: {studentas[3]}, Vidurkis: {studentas[4]}")

# Randame studentus, kurių vidurkis didesnis už 5
cursor.execute("SELECT * FROM studentai WHERE vidurkis > 5")
studentai_daugiau_uz_5 = cursor.fetchall()

# Atspausdiname studentus su vidurkiu > 5
print("\nStudentai su vidurkiu > 5:")
for studentas in studentai_daugiau_uz_5:
    print(f"ID: {studentas[0]}, Vardas: {studentas[1]}, Pavardė: {studentas[2]}, Universitetas: {studentas[3]}, Vidurkis: {studentas[4]}")

# Randame studentus, kurių vidurkis mažesnis už 5
cursor.execute("SELECT * FROM studentai WHERE vidurkis < 5")
studentai_maziau_uz_5 = cursor.fetchall()

# Atspausdiname studentus su vidurkiu < 5
print("\nStudentai su vidurkiu < 5:")
for studentas in studentai_maziau_uz_5:
    print(f"ID: {studentas[0]}, Vardas: {studentas[1]}, Pavardė: {studentas[2]}, Universitetas: {studentas[3]}, Vidurkis: {studentas[4]}")

# Uždaryti prisijungimą prie DB
conn.close()

Visi studentai:
ID: 1, Vardas: Jonas, Pavardė: Kazlauskas, Universitetas: VU, Vidurkis: 6.7
ID: 2, Vardas: Eglė, Pavardė: Petrauskaitė, Universitetas: KTU, Vidurkis: 8.2
ID: 3, Vardas: Mantas, Pavardė: Jankauskas, Universitetas: VDU, Vidurkis: 4.9
ID: 4, Vardas: Aistė, Pavardė: Žukauskaitė, Universitetas: ISM, Vidurkis: 9.1
ID: 5, Vardas: Dovydas, Pavardė: Butkus, Universitetas: VU, Vidurkis: 5.3

Studentai su vidurkiu > 5:
ID: 1, Vardas: Jonas, Pavardė: Kazlauskas, Universitetas: VU, Vidurkis: 6.7
ID: 2, Vardas: Eglė, Pavardė: Petrauskaitė, Universitetas: KTU, Vidurkis: 8.2
ID: 4, Vardas: Aistė, Pavardė: Žukauskaitė, Universitetas: ISM, Vidurkis: 9.1
ID: 5, Vardas: Dovydas, Pavardė: Butkus, Universitetas: VU, Vidurkis: 5.3

Studentai su vidurkiu < 5:
ID: 3, Vardas: Mantas, Pavardė: Jankauskas, Universitetas: VDU, Vidurkis: 4.9

## Užduotis 3

Sukurkite sąrašą, talpinantį dictionaries su parduotuvės informacija (pavadinimas, adresas)<br>
sukurkite db pavadinimu parduotuvės<br>
iteruodami per sąrašą įkelkite kiekvieną parduotuvę į db<br>
išveskite db duomenis

In [22]:
# Sukuriame sąrašą su parduotuvių informacija
parduotuves_list = [
    {"pavadinimas": "Maxima", "adresas": "Gedimino pr. 9, Vilnius"},
    {"pavadinimas": "Iki", "adresas": "Savanorių pr. 12, Kaunas"},
    {"pavadinimas": "Lidl", "adresas": "Klaipėdos g. 5, Klaipėda"},
    {"pavadinimas": "Rimi", "adresas": "Vytauto g. 30, Panevėžys"},
    {"pavadinimas": "Norfa", "adresas": "Taikos pr. 40, Šiauliai"}
]

# Sukuriame duomenų bazę atmintyje
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

# Sukuriame parduotuvių lentelę
cursor.execute('''
    CREATE TABLE parduotuves (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        pavadinimas TEXT NOT NULL,
        adresas TEXT NOT NULL
    )
''')

# Iteruojame per sąrašą ir įkeliame parduotuves į DB
for parduotuve in parduotuves_list:
    cursor.execute("INSERT INTO parduotuves (pavadinimas, adresas) VALUES (?, ?)",
                   (parduotuve["pavadinimas"], parduotuve["adresas"]))

conn.commit()

# Išrenkame visus parduotuvių duomenis
cursor.execute("SELECT * FROM parduotuves")
parduotuves = cursor.fetchall()

# Atspausdiname visas parduotuves naudojant for in
print("Parduotuvių sąrašas:")
for parduotuve in parduotuves:
    print(f"ID: {parduotuve[0]}, Pavadinimas: {parduotuve[1]}, Adresas: {parduotuve[2]}")

# Uždaryti prisijungimą prie DB
conn.close()

Parduotuvių sąrašas:
ID: 1, Pavadinimas: Maxima, Adresas: Gedimino pr. 9, Vilnius
ID: 2, Pavadinimas: Iki, Adresas: Savanorių pr. 12, Kaunas
ID: 3, Pavadinimas: Lidl, Adresas: Klaipėdos g. 5, Klaipėda
ID: 4, Pavadinimas: Rimi, Adresas: Vytauto g. 30, Panevėžys
ID: 5, Pavadinimas: Norfa, Adresas: Taikos pr. 40, Šiauliai