# Lambda funkcijos

lambda funkcijos dažnai yra vadinamos anoniminėmis, nes jos neturi pavadinimo, kaip kitos funkcijos.

Sintaksė:

lamda *argumentai*: funkcijos scenarijus

lambda funkcijos yra naudojamos, kai mes norime kurti funkcijas efektyviau, tai mums leidžia padaryti paprasta lambda funkcijų sintaksė.

In [2]:
def kvadratu(x):
    return x**2

print(kvadratu(5))

square=lambda x: x**2
print(square(5))

25
25

In [4]:
def lyginis_nelyginis(x):
    if x %2==0:
        return 'lyginis'
    else:
        return 'nelyginis'
    
lyg_nelyg=lambda x: 'Lyginis' if x%2==0 else 'nelyginis'

print(lyginis_nelyginis(10))
print(lyg_nelyg(10))

lyginis
Lyginis

In [5]:
nums=[1,2,3,4,5]

doubled_nums=map(lambda x: x*2, nums)
print(nums)

[1, 2, 3, 4, 5]

In [7]:
nums=[1,2,3,4,5]

doubled_nums=list(map(lambda x:'Lyginis' if x%2==0 else 'nelyginis',nums))
print(doubled_nums)

['nelyginis', 'Lyginis', 'nelyginis', 'Lyginis', 'nelyginis']

In [10]:
nums=[1,2,3,4,5]
evens=list(filter(lambda x: x%2==0, nums))

print(evens)

[2, 4]

In [13]:
points=[(51.1223,54.1212), (31.123123,33.12312),(51.1241243,11.11231123)]

print(sorted(points))

sorted_points=sorted(points, key=lambda x: x[1])
print(sorted_points)

[(31.123123, 33.12312), (51.1223, 54.1212), (51.1241243, 11.11231123)]
[(51.1241243, 11.11231123), (31.123123, 33.12312), (51.1223, 54.1212)]

In [20]:
darbuotojai=[
    {'vardas':'Antanas','amzius': 40},
    {'vardas':'Jonas','amzius': 20},
    {'vardas':'Paulina','amzius': 27}
]

print(sorted(darbuotojai, key=lambda x: x['amzius'],reverse=True))

[{'vardas': 'Antanas', 'amzius': 40}, {'vardas': 'Paulina', 'amzius': 27}, {'vardas': 'Jonas', 'amzius': 20}]

In [21]:
def s_suma(x,y):
    return x+y

suma = lambda x,y: x+y

suma(5,10)

15

## Užduotys

### 1 Užduotis

Parašykite programą, kuri naudodama lambda funkciją filtruoja sąrašą skaičių ir palieka tik teigiamus skaičius.

In [23]:
nums=[0,1,2,3,4,5]
evens=list(filter(lambda x: x>0, nums))

print(evens)

[1, 2, 3, 4, 5]

### 2 Užduotis

Sukurkite programą, kuri naudodama lambda funkciją atrinktų žodžius iš sąrašo pagal jų ilgį ir išrikiuotų juos nuo trumpiausio iki ilgiausio.

In [24]:
sarasas=['Jonas','Paulius','Rimas','Zita','Kazys']

rikiuotas_sarasas=sorted(sarasas, key=len)

print(rikiuotas_sarasas)

['Zita', 'Jonas', 'Rimas', 'Kazys', 'Paulius']

### 3 Užduotis

Parašykite programą, kuri sukuria skaičių seką nuo 1 iki n, kur n yra įvestas skaičius, naudodama lambda funkciją.

pvz., lambda funkcijai pateikus argumentą 5 ji grąžintų [1,2,3,4,5], o pateikus 7 - [1,2,3,4,5,6,7]

In [30]:
print(range(10,20))

square=lambda x: list(range(1,x+1))

print(square(5))
print(square(7))

range(10, 20)
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]