# Ciklai

- Ciklai naudojami norint kartoti tuos pačius veiksmus daugiau nei vieną kartą.
- Yra du ciklų tipai:
  - `for`
  - `while`
- Kiekvienas ciklas pasižymi tam tikromis savybėmis, todėl kiekvienu atveju reikia patiems nuspręsti, kuris ciklas tuo konkrečiu atveju yra tinkamesnis naudoti.

# Ciklas `for` (1 dalis)

## Apie ciklą `for`

Šis ciklas dažniausiai naudojamas kai yra žinoma, kiek kartų jis turi būti vykdomas, arba kai yra iteruojamas duomenų rinkinys (skaičių sąrašas, elementų rinkinys, …).

## Sintaksė

```
for elementas in iteruojamas_objektas:
	# vykdomas kodas
```

- **iteruojamas_objektas** - elementų rinkinys, sąrašas ir pan. - tai, ką mes iteruojame naudodami ciklą
- **elementas** - vienas elementas, viena dalis, iš `iteruojamas_objektas`

**iteruojamas_objektas** gali būti:

```
[40, 32, 73]
"labas"
range(1, 10)
...
```

## Pavyzdžiai

Be ciklo:

In [1]:
print(1)
print(2)
print(3)
print(4)

1
2
3
4

Su ciklu:

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

Nuo 0 iki 5:

Nuo 1 iki 6:

In [4]:
for skaicius in range(1,7):
    print(skaicius)

1
2
3
4
5
6

Nuo 0 iki 5:

Be ciklo:

In [5]:
print('labas')
print('labas')
print('labas')
print('labas')
print('labas')

labas

Su ciklu:

In [6]:
for i in range(5):
    print('labas')

labas
labas
labas
labas
labas

Be ciklo:

In [ ]:
print('eilute nr. 1')
print('eilute nr. 2')
print('eilute nr. 3')
print('eilute nr. 4')
print('eilute nr. 5')

Su ciklu:

In [7]:
for i in range(5):
    print(f'eiklute nr {i}')

eiklute nr 0
eiklute nr 1
eiklute nr 2
eiklute nr 3
eiklute nr 4

Nuo 5 iki 11:

Nuo 5 iki 16:

Nuo 2 iki 11, lyginiai:

In [8]:
for i in range(2,12):
    print(f'eiklute nr {i}')

eiklute nr 2
eiklute nr 3
eiklute nr 4
eiklute nr 5
eiklute nr 6
eiklute nr 7
eiklute nr 8
eiklute nr 9
eiklute nr 10
eiklute nr 11

Nuo 2 iki 11, kas antrą:

Nuo 1 iki 13, kurie dalinasi iš 2 arba 5:

In [9]:
for i in range(1,13):
    if i%2==0 or i%5==0:
        print(i)

2
4
5
6
8
10
12

Kintamųjų naudojimas cikle:

In [11]:
vardas=input('iveskite savo varda: ')
kiek_kartoti=int(input('kiek kartu kartoti?'))

for i in range(kiek_kartoti):
    print(vardas)

mantas
mantas

Kintamųjų naudojimas cikle:

Kintamųjų naudojimas cikle:

Kintamųjų naudojimas cikle:

## Užduotys

### Užduotis 1

Parašyti `for`, kuris išvestų kiekvieną skaičių pradedant nuo 0 ir baigiant 10 (pvz: `0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10`).

In [12]:
# Kodą rašykite čia...
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

### Užduotis 2

Parašyti `for`, kuris išvestų kas antrą skaičių pradedant 0 ir baigiant 15 (pvz: `0, 2, 4, 6, 8, 10, 12, 14`).

In [14]:
# Kodą rašykite čia...
for i in range(0,16,2):
    print(i)

0
2
4
6
8
10
12
14

### Užduotis 3

Parašyti `for`, kuris išvestų kas trečią skaičių, pradedant 1 ir baigiant 20. Kiekvieną skaičių apskliausti laužtiniais skliaustais. Pvz.: `[1][4][7]`...

In [15]:
# Kodą rašykite čia...
for i in range(1,20,3):
    print(f'[{i}]')

[1]
[4]
[7]
[10]
[13]
[16]
[19]

### Užduotis 4

Su `for` pagalba penkis kartus išveskite savo vardą.

In [16]:
# Kodą rašykite čia...
vardas=input('iveskite savo varda: ')
kiek_kartoti=int(input('kiek kartu kartoti?'))

for i in range(kiek_kartoti):
    print(vardas)

mantas
mantas
mantas
mantas
mantas

### Užduotis 5

Parašyti `for`, kuris eitų pro kiekvieną skaičių nuo 1 iki 20. Jame apsirašyti `if` sąlygą, kuri patikrintų ar dabartinis skaičius dalinasi iš 4, jei taip tai šį skaičių išvesti.

In [17]:
# Kodą rašykite čia...
for i in range(1,20):
    if i%4==0:
        print(i)

4
8
12
16
20

### Užduotis 6

Išveskite visus skaičius nuo 1 iki 15, prie kiekvieno jų nurodant tai lyginis ar nelyginis skaičius. Pvz:

```
1 - nelyginis
2 - lyginis
3 - nelyginis
...
```

In [18]:
# Kodą rašykite čia...
for i in range(1,15):
    if i%2==0:
        print(f'{i} lyginis')
    else:
        print(f'{i} nelygins')

1 nelygins
2 lyginis
3 nelygins
4 lyginis
5 nelygins
6 lyginis
7 nelygins
8 lyginis
9 nelygins
10 lyginis
11 nelygins
12 lyginis
13 nelygins
14 lyginis

### Užduotis 7

Susikurkite kintamuosius rėžių pradžiai ir pabaigai nusakyti. Patikrinkite, kad tai būtų validu (pradžia turi būti mažesnė nei pabaiga). Jei rėžiai tinkami, tuomet vykdyti `for`, kuris atskirose eilutėse išvestų kiekvieną skaičių iš tų rėžių, bei atskiriant tarpu - tų skaičių kvadratus.

In [22]:
# Kodą rašykite čia...
pradzia=1
pabaiga=100

if pradzia < pabaiga:
    for i in range(pradzia,pabaiga):
        print(i**2, i)
else:
    print('pabaiga turi buti didesne neigu pabaiga')

1 1
4 2
9 3
16 4
25 5
36 6
49 7
64 8
81 9
100 10
121 11
144 12
169 13
196 14
225 15
256 16
289 17
324 18
361 19
400 20
441 21
484 22
529 23
576 24
625 25
676 26
729 27
784 28
841 29
900 30
961 31
1024 32
1089 33
1156 34
1225 35
1296 36
1369 37
1444 38
1521 39
1600 40
1681 41
1764 42
1849 43
1936 44
2025 45
2116 46
2209 47
2304 48
2401 49
2500 50
2601 51
2704 52
2809 53
2916 54
3025 55
3136 56
3249 57
3364 58
3481 59
3600 60
3721 61
3844 62
3969 63
4096 64
4225 65
4356 66
4489 67
4624 68
4761 69
4900 70
5041 71
5184 72
5329 73
5476 74
5625 75
5776 76
5929 77
6084 78
6241 79
6400 80
6561 81
6724 82
6889 83
7056 84
7225 85
7396 86
7569 87
7744 88
7921 89
8100 90
8281 91
8464 92
8649 93
8836 94
9025 95
9216 96
9409 97
9604 98
9801 99

### Užduotis 8

Susikurkite kintamuosius rėžių pradžiai ir pabaigai nusakyti. Patikrinkite, kad tai būtų validu (pradžia turi būti mažesnė nei pabaiga). Jei rėžiai tinkami, tuomet vykdyti `for`, kuris iš duotų skaičių išvestų visus nelyginius skaičius arba tuos, kurie dalinasi iš 8.

In [23]:
# Kodą rašykite čia...
pradzia=1
pabaiga=100

if pradzia < pabaiga:
    for i in range(pradzia,pabaiga):
       if i %8==0 or i%2!=0:
           print(i**2, i)
#else:
#    print('pabaiga turi buti didesne neigu pabaiga')

1 1
9 3
25 5
49 7
64 8
81 9
121 11
169 13
225 15
256 16
289 17
361 19
441 21
529 23
576 24
625 25
729 27
841 29
961 31
1024 32
1089 33
1225 35
1369 37
1521 39
1600 40
1681 41
1849 43
2025 45
2209 47
2304 48
2401 49
2601 51
2809 53
3025 55
3136 56
3249 57
3481 59
3721 61
3969 63
4096 64
4225 65
4489 67
4761 69
5041 71
5184 72
5329 73
5625 75
5929 77
6241 79
6400 80
6561 81
6889 83
7225 85
7569 87
7744 88
7921 89
8281 91
8649 93
9025 95
9216 96
9409 97
9801 99